<p id="notice"><%= notice %></p>

<h1><font color="white">Listing Posts</font></h1>

<table border="2" style="color:white">
  <thead>
    <tr>
      <th><font color="blue">Title</font></th>
      <th><font color="blue">Body</font></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @posts.each do |post| %>
      <tr >
        <td ><font color="black"><%= post.title %></font></td>
        <td ><font color="black"><%= post.body %></font></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
